{
	"branches": 50,
	"lines": 70,
	"functions": 70,
	"statements": 70,
	"check-coverage": true,
	"all": true,
	"report-dir": "./coverage",
	"temp-dir": ".nyc_output",
	"reporter": ["text"],
	"exclude-after-remap": false
}
