# Docker
Dockerfile
.dockerignore

# Dev
node_modules
dist
.eslintignore
.eslintrc
.prettierignore
.prettierrc
.prettierrc.json
nodemon.json
configSetup.ts

# Build
logs/

# Test
src/tests/coverage-reports
jest.onlyTest.config.ts

# Config
.env
.env.example

# Git
.gitignore

# DS_Store
.DS_Store

# Logs
TODO.txt
